#container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px; 
}

#gridContainer{
  display: grid;
  width: 600px; 
  height: 600px; 
  border: 1px solid black;
}

#cell{
  border: 1px solid black;
  min-width: 1px;
  min-height: 1px;
  background-color: white;
}

.cell:hover{
  background-color: black;
}